<main class="mt-5 d-flex flex-column h-100 m-auto align-items-center justify-content-center">
  <div *ngIf="!isLoading" class="d-flex flex-column w-75 h-100 m-auto align-items-center justify-content-center">
  <form class="d-block" [formGroup]="scanForm">
    <div class="input-section" *ngIf="inputMode === 'text'">
      <label for="upc-input" class="form-label d-block ms-2">Enter UPC Code:</label>
      <div class="d-flex btn-group">
        <input
          id="upc-input"
          class="form-control"
          type="text"
          formControlName="upcInput"
          placeholder="Enter 12-digit UPC code"
          maxlength="12"
          pattern="\d{12}"
        >
        <button (click)="lookupUpc()" [disabled]="isLoading || scanForm.invalid" class="btn btn-primary"><i class="bi bi-search"></i></button>
      </div>
    </div>

    <div class="input-section" *ngIf="inputMode === 'image'">
      <label for="file-input" class="form-label d-block ms-2">Scan Barcode:</label>
      <div class="d-flex btn-group">
        <input
          #cameraInput
          id="file-input"
          class="form-control"
          type="file"
          (change)="onFileSelected($event)"
          [disabled]="isLoading"
        >
        <button
          class="camera-button btn btn-primary"

          (click)="openCamera()"
          [disabled]="isLoading"
        >
          <i class="bi bi-camera"></i>
        </button>
      </div>
    </div>
  </form>

  <div class="my-5">
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn"
        [class.btn-outline-primary]="inputMode !== 'image'"
        [class.btn-primary]="inputMode === 'image'"
        (click)="inputMode = 'image'"
      >
        <i class="bi bi-upc-scan"></i>
      </button>
      <button
        type="button"
        class="btn"
        [class.btn-outline-primary.btn-check]="inputMode !== 'text'"
        [class.btn-primary.btn-check]="inputMode === 'text'"
        (click)="inputMode = 'text'"
      >
        <i class="bi bi-123"></i>
      </button>
    </div>
  </div>

  <section class="mt-5">
    <h2 class="text-center p-2">About</h2>
    <p>Simply make a photo of a product's barcode (with numbers underneath visible), or enter the UPC number manually.
      The app will search the database and notify whether is the product Canadian, American, or from another country.</p>
  </section>

  <section class="mt-5">
    <h2 class="text-center p-2">Disclaimer</h2>
    <p>The app uses Open Food Facts API to get information about the product. I do not guarantee the accuracy of the data.
      Use the app as a quick guide, not as the definitive source of information. The app is provided as-is.</p>
  </section>

  </div>
  <div class="status" *ngIf="isLoading">
    <span class="loader"></span>
  </div>

  <ngb-alert [type]="'danger'" (closed)="this.errorMessage = ''" [animation]="true"  class="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </ngb-alert>

</main>

