$primary: #ea0101;
$secondary: #FFFFFF;
$success: #D32F2F;
$info: #FFC107;
$warning: #FF9800;
$danger: #B71C1C;
$light: #F5F5F5;
$dark: #212121;

$btn-primary-color: #FFFFFF;


@import "bootstrap/scss/bootstrap";
